@lost flexbox flex;
@lost gutter 30px;

* {
  lost-utility: edit
}

section {
  lost-center: 900px;
  padding: 1rem;
  row-gap: 10px;
  display: flex;

  & div {
    lost-column: 1/3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

